.comment-date {
    font-size: 0.75rem; /* Tamaño más pequeño */
    color: #888; /* Color gris claro para la fecha */
    float: right; /* Alinea a la derecha */
    margin-left: 10px; /* Espacio entre el nombre y la fecha */
  }