<ion-card class="post">
  <!-- Usuario y opciones -->
  <ion-item lines="none">
    <ion-avatar slot="start" class="avatar-bordered">
      <img [src]="post.owner.imageUrl" />
    </ion-avatar>

    <ion-label>
      <h2>{{ post.owner.username }}</h2>
      <p>{{ parseTime(post.createdDate) }}</p>
    </ion-label>
    <ion-button fill="clear" slot="end" id="options-button" (click)="presentActionSheet()">
      <ion-icon slot="icon-only" name="ellipsis-vertical" [style.color]="'black'"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- Texto del Post -->
  <ion-card-content>
    <p>{{ post.content }}</p>
    <!-- Mostrar imagen solo si post.imageUrl tiene un valor válido -->
    <ion-img *ngIf="post.imageUrl" [src]="post.imageUrl" class="image-slide"></ion-img>
  </ion-card-content>

  <!-- Sección de Comentarios usando CommentComponent -->
  <ion-card-content *ngIf="post.comments && post.comments.length > 0">
    <!-- Usar el componente de comentarios para cada comentario visible -->
    <app-comment *ngFor="let comment of visibleComments" [comment]="comment"></app-comment>
  </ion-card-content>

  <ion-card-content>
    <!-- Botón para ver más comentarios -->
    <span *ngIf="hasMoreComments"  class="view-more-comments" (click)="openComments(post, false)">
      Ver más comentarios
    </span>
  </ion-card-content>


  <!-- Botones de interacción -->
  <ion-item lines="none">
    <ion-button fill="clear" slot="start" id="like-button" (click)="toggleLike(post.id, liked())">
      <ion-icon [name]="liked() ? 'heart' : 'heart-outline'" [style.color]="liked() ? 'red' : 'black'"></ion-icon>
      <ion-badge color="primary" [style.background-color]="'white'" [style.color]="'black'">{{ post.likes.length }}</ion-badge>
    </ion-button>
    <ion-button fill="clear" slot="start" id="comment-button" (click)="openComments(post, true)">
      <ion-icon slot="icon-only" name="chatbubble-outline" [style.color]="'black'"></ion-icon>
      <ion-badge color="primary" [style.background-color]="'white'" [style.color]="'black'">{{ post.comments.length }}</ion-badge>
    </ion-button>
  </ion-item>
  
</ion-card>
