.post {
    width: 100%;
    margin: 0; /* Elimina márgenes adicionales */
    padding: 0; /* Elimina el padding adicional */
    box-shadow: none; /* Elimina la sombra adicional */
}
  

.image-slide {
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.view-more-comments {
    color: #007bff;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
}

ion-card {
    width: 100%;
    margin: 0; /* Elimina los márgenes predeterminados */
    padding: 0; /* Elimina el padding adicional */
    --padding-start: 0;
    --padding-end: 0;
}

ion-card-content,
ion-item {
    width: 100%;
}

ion-content, ion-grid, ion-row, ion-col {
    width: 100%;
    margin: 0;
    padding: 0;
}




  

