<ion-header>
  <ion-toolbar>
    <ion-title class="centered-title">Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="scrollable-content">
  <!-- Mostrar mensaje si no hay comentarios -->
  <div *ngIf="!post?.comments || post.comments.length === 0" class="no-comments centered-text">
    <p>Sin comentarios</p>
    <p class="first-comment">Sé el primero en comentar</p>
  </div>

  <!-- Mostrar lista de comentarios si hay al menos uno -->
  <app-comment *ngFor="let comment of post?.comments" [comment]="comment"></app-comment>
</ion-content>

<ion-footer class="fixed-footer">
  <ion-toolbar>
    <ion-item>
      <ion-input
        [(ngModel)]="newComment"
        placeholder="Escribe un comentario..."
        type="text"
        clearInput
      ></ion-input>
      <ion-button (click)="sendComment()" fill="solid" slot="end">
        Enviar
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
